/build/
/build-release/
/dist/
/logs/
/Synthesizer.app/
/Synthesizer.zip
/.idea/
/.vscode/
.DS_Store
DerivedData/
*.xcodeproj/
*.xcworkspace/
*.xcuserdata/
*.dSYM/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
*.swp
*.tmp
